<main>
    <form autocomplete="off" [formGroup]="register" (ngSubmit)="saveForm()" id="leftForm">

        <h2>Create a new account</h2>

        <input 
            type="text"
            placeholder="User Name"
            formControlName="userName"
            >

        <input 
            type="text"
            placeholder="First Name"
            formControlName="firstName"
            >
        <input 
            type="text"
            placeholder="Last Name"
            formControlName="lastName"
            >

        <input 
            type="text"
            placeholder="Email"
            formControlName="email"
            >
        <input 
            type="text"
            placeholder="Phone Number"
            formControlName="phoneNumber"
            >

        <input 
            type="password"
            placeholder="create a password"
            formControlName="password"
            >
        <input 
            type="password"
            placeholder="repeat the password"
            formControlName="password2"
            >

         <button type="submit">Sign up</button>
    </form>

    <form autocomplete="off" [formGroup]="enter" (ngSubmit)="checkUser()" id="rightForm">

        <h2>Enter your account</h2>

        <input 
            type="text"
            placeholder="User Name"
            formControlName="loginUserName"
        >
        <input 
            type="password"
            placeholder="Password"
            formControlName="loginPassword"
        >

        <button type="submit">Sign in</button>

    </form>
</main>